* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color-bnt: #93f718;
	--secondary-color-bnt: #1e4c01;
	--background-color-primary: #ffffff;
	--background-color-secondary: #1d4fc3;
	--text-color: #1e1e1e;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--background-color-primary);
	color: var(--text-color);
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 40px;
	padding: 0 10px
}

.contenedor .pelicula {
	text-align: center;
}
.pelicula{
	background-color: rgb(235, 235, 235);
	padding: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
	border-radius: 15px;

}
.contenedor .pelicula .titulo {
	font-size: 18px;
	font-weight: 800;
}

.contenedor .pelicula .poster {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	border-radius: 15px;
	object-fit: cover;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: var(--background-color-secondary);
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	border-radius: 5px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 180px;
	background: var(--primary-color-bnt);
	color: var(--text-color);
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
	
	&:hover{
		background: var(--secondary-color-bnt);
		color: var(--background-color-primary);
	}
}


/* Media Queries para tamaños de pantalla específicos */
@media (width: 768px) {
	.contenedor {
		gap: 15px;
		padding: 0 10px;
	}

	.paginacion {
		padding: 5px;
	}

	.paginacion button {
		width: 140px;
		font-size: 14px;
	}
}