h1 {
    color: transparent;
    font-size: 6rem;
    text-align: center;
    background-image: url(./OIP.jpeg);
    background-size: contain;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background-color: #000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    background-color:aquamarine ;
    border-radius: 15px;
    width: 70%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
}