<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <select name="currency-select" class="currency-select" aria-label="Currency preference:">
        <button>
          <selectedcontent></selectedcontent>
          <span class="arrow"></span>
        </button>
        <option value="eur">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/510px-Flag_of_Europe.svg.png" alt="" />
          <div class="currency">
            <div class="currency-short">EUR</div>
            <div class="currency-long">Euro</div>
          </div>
          <div class="symbol" aria-hidden="true">€</div>
        </option>
        <option value="gbp">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/510px-Flag_of_the_United_Kingdom_%281-2%29.svg.png" alt="" />
          <div class="currency">
            <div class="currency-short">GBP</div>
            <div class="currency-long">Great British Pound</div>
          </div>
          <div class="symbol" aria-hidden="true">£</div>
        </option>
        <option value="usd" selected>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg/510px-Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg.png" alt="" />
          <div class="currency">
            <div class="currency-short">USD</div>
            <div class="currency-long">United States Dollar</div>
          </div>
          <div class="symbol" aria-hidden="true">$</div>
        </option>
      <option value="jpy">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/510px-Flag_of_Japan.svg.png" alt="" />
          <div class="currency">
            <div class="currency-short">JPY</div>
            <div class="currency-long">Japanese Yen</div>
          </div>
          <div class="symbol" aria-hidden="true">¥</div>
        </option>
        <option value="bitcoin">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/300px-Bitcoin.svg.png" alt="" />
          <div class="currency">
            <div class="currency-short">BTC</div>
            <div class="currency-long">Bitcoin</div>
          </div>
          <div class="symbol" aria-hidden="true">₿</div>
        </option>
      </select>
    
</body>
</html>
